@import url('https://fonts.googleapis.com/css2?family=Vidaloka&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.hero {
    background: url(../assets/bg1.png) no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #FFD699;
    background-attachment: fixed;
}

.navbar-nav .active {
    border-bottom: #ffffff solid 3px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'Vidaloka', serif;
}
.heading1 {
    font-size: 40px;
    text-align: left;
    color: rgb(136, 88, 0);
}
.heading4 {
    font-size: 30px;
    color: #f1f1f1;
    height: 70px;
}
.container {
    height: 600px;
    width: 50%;
    position: center;
    background-color: rgb(43, 26, 0);
    border: 3px solid #f1f1f1;
    border-radius: 25px;
    border-color: rgb(43, 26, 0);
}

.booknow {
    margin: 0;
    position: center;
    width: 100%;
    color: #ffffff;
    background-color: rgb(99, 59, 0);
}
